.header {
  background-color: var(--color-bg-high);
  padding: var(--spacing-md);
  box-shadow: var(--shadow);
}

.links > a {
  color: var(--color-text-on-dark);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
  margin-left: var(--spacing-md);
}

.links > a:hover {
  color: var(--color-secondary);
}

.links > a.active {
  color: red;
}

.links > a.pending {
  color: var(--color-secondary);
  pointer-events: none;
}
