header {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
