.calculator-box {
  background-color: rgb(56, 102, 65);
  display: flex;
  flex: 0 0 auto;
  width: clamp(640px, 50vw, 800px);
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  margin-bottom: 32px;
}

.calculator-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

input[type="number"] {
  background-color: rgb(167, 201, 87);
  color: rgb(242, 232, 207);
  border: none;
  border-radius: 16px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 60px;
  padding: 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
